{% include "app/header.html" %}
<br/>
<br/>
<br/>
   {% load static %}
<section id="team" class="team">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title aos-init aos-animate" data-aos="fade-right">
              <h2> Our Team</h2>
                <i class="fas fa-quote-left"></i>
              <p>Our moto to provide a huge number of codes, for essential and easy access
              to all the Coding lovers.</p>
                <i class="fas fa-quote-right"></i>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">

              <div class="col-lg-6">
                <div class="member aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                  <img src="{% static 'img/Neeraj.jpg' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" alt=""></img>
                  <div class="member-info">
                    <h4>NEERAJ KUMAR KANNOUJIYA</h4>
                    <span>Founder</span>

                     <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/neeraj73880?t=lxc5KAN6Dx9ynpH8GekT0w&s=09" class="twitter"><i class="fab fa-twitter"></i></i></a>
        <a href="https://www.facebook.com/neeraj.kannoujiya.90" class="facebook"><i class="fab fa-facebook-square"></i></a>
        <a href="#" class="instagram"><i class="fab fa-instagram-square"></i></i></a>
        <a href="https://www.linkedin.com/feed/" class="linkedin"><i class="fab fa-linkedin"></i></i></a>
      </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                  <img src="{% static 'img/divyansh.jpg' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" alt=""></img>
                  <div class="member-info">
                    <h4>DIVYANSH PANDEY</h4>
                    <span>Founder</span>

                      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="fab fa-twitter"></i></i></a>
        <a href="#" class="facebook"><i class="fab fa-facebook-square"></i></a>
        <a href="#" class="instagram"><i class="fab fa-instagram-square"></i></i></a>
        <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></i></a>
      </div>
                  </div>
                </div>
              </div>
              <!-- <center>

              <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                  <img src="{% static 'img/sandeep.jpeg' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" alt=""></img>
                  <div class="member-info">
                    <h4>SANDEEP KUMAR</h4>
                    <span>Founder</span>

                      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="fab fa-twitter"></i></i></a>
        <a href="#" class="facebook"><i class="fab fa-facebook-square"></i></a>
        <a href="#" class="instagram"><i class="fab fa-instagram-square"></i></i></a>
        <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></i></a>
      </div>
                  </div>
                </div>
              </div>
            </center> -->




            </div>

          </div>
        </div>

      </div>
    </section>

<section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 aos-init aos-animate" data-aos="fade-right">
            <div class="section-title">
              <h2>Contact</h2>
              <p></p>
            </div>
          </div>

          <div class="col-lg-8 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13940.404685044201!2d78.2465653!3d29.1322062!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6f84c5006226847c!2sRajkiya%20Engineering%20College%20Bijnor!5e0!3m2!1sen!2sin!4v1639830931917!5m2!1sen!2sin" width="950" height="380" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="info mt-4">
              <i class="fas fa-map-marker-alt"></i>
              <h4>Location:</h4>
              <p> Rajkiya Engineering College<br>
              Near Eid Gah Road<br>
              Chandpur,Bijnor</p>
            </div>
            <div class="row">
              <div class="col-lg-6 mt-4">
                <div class="info">
                  <i class="fas fa-envelope-square"></i>
                  <h4>Email:</h4>
                  <p>Neerajkumar7388011@gmail.com</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="info w-100 mt-4">
                  <i class="fas fa-mobile-alt"></i>
                  <h4>Call:</h4>
                  <p>+91 9696818518</p>
                </div>
              </div>
            </div>
              <div>
     <form action="" method="post"  class="php-email-form mt-4">
     
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required=""></textarea>
              </div>
              
              <div class="text-center"><input type="submit" value="Submit your message"></div>
            </form>
              </div>

          </div>
        </div>

      </div>
    </section>
{% include "app/footer.html" %}