<!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Coding Warehouse</h3>
            <p>

              Rajkiya Engineering College<br>
              Near Eid Gah Road<br>
              Chandpur,Bijnor <br><br>
              <strong>Phone:</strong> 7398675681<br>
              <strong>Email:</strong>pdivyansh946@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fas fa-angle-double-right"></i> <a href="{% url 'home' %}">Home</a></li>
              <li><i class="fas fa-angle-double-right"></i> <a href="{% url 'about' %}">About</a></li>
              <li><i class="fas fa-angle-double-right"></i> <a href="{% url 'courses' %}">Courses</a></li>
               <li><i class="fas fa-angle-double-right"></i><a href="{% url 'contact' %}">Contacts</a></li>

              <li><i class="fas fa-angle-double-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="fas fa-angle-double-right"></i></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="fas fa-angle-double-right"></i></i> <a href="{% url 'c' %}">C</a></li>
              <li><i class="fas fa-angle-double-right"></i></i> <a href="{% url 'Css' %}">Css</a></li>
              <li><i class="fas fa-angle-double-right"></i></i> <a href="{% url 'python' %}">python</a></li>
              <li><i class="fas fa-angle-double-right"></i></i> <a href="{% url 'java' %}">Java</a></li>
              <li><i class="fas fa-angle-double-right"></i></i> <a href="{% url 'HTML' %}">Html</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">

            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Coding Warehouse</span></strong>. All Rights Reserved
        </div>

      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/neeraj73880?t=lxc5KAN6Dx9ynpH8GekT0w&s=09" class="twitter"><i class="fab fa-twitter"></i></i></a>
        <a href="https://www.facebook.com/neeraj.kannoujiya.90" class="facebook"><i class="fab fa-facebook-square"></i></a>
        <a href="#" class="instagram"><i class="fab fa-instagram-square"></i></i></a>
        <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></i></a>
{% load static %}
  <!-- Vendor JS Files -->
  <script src="{% static 'purecounter.js' %}"></script>
  <script src="{% static 'aos.js' %}"></script>
  <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'glightbox.min.js' %}"></script>
  <script src="{% static 'isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'swiper-bundle.min.js' %}"></script>
  <script src="{% static 'validate.js' %}"></script>

  <!-- Template Main JS File -->
    {% load static %}
  <script src="{% static 'main.js' %}"></script>
</body>

</html>