<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Coding Warehouse</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->

  <script src="https://kit.fontawesome.com/45330c1c90.js" crossorigin="anonymous"></script>
{% load static %}
  <!-- Vendor CSS Files -->

  <link href="{% static 'aos.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bethany - v4.7.0
  * Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light"><a href="{% url 'home' %}"><span><b>CODING WAREHOUSE</b></span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto " href="{% url 'home' %}"><b>Home</b></a></li>
            <li><a class="nav-link scrollto " href="{% url 'about' %}"><b>About</b></a></li>
              <li><a class="nav-link scrollto" href="{% url 'courses' %}"><b>Courses</b></a></li>
            <li><a class="nav-link scrollto" href="{% url 'contact' %}" ><b> Contact</b></a></li>

          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->
