{% include "app/header.html" %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
      <h1><font color="">Our Online Presence with Coding Warehouse</font></h1>


    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="200">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="300">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="400">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="500">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="600">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <h2>IMPORTANCE OF<br/> CODING</h2>

          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
            <p>
            Technology is a growing trend in the digital economy providing massive job opportunities. Programmers, software engineers, and developers are in high demand across different industries. With coding as the fundamental skill, you open up career choices. It also makes your portfolio stand out from the others. Many companies might also outsource their coding-related works, thus, being a coding expert helps you earn freelance income, and offers career flexibility.
            <ul>
              <li><i class="fas fa-angle-double-right"></i> “Any fool can write code that a computer can understand. Good programmers write code that humans can understand.” </li>
              <li><i class="fas fa-angle-double-right"></i> “Code is like humor. When you have to explain it, it’s bad.”</li>
              <li><i class="fas fa-angle-double-right"></i>“When to use iterative development? You should use iterative development only on projects that you want to succeed.” </li>


            </ul>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->






    <!-- ======= Testimonials Section ======= -->
    {% load static %}
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
              <h2><i>Coding Thoughts</i></h2>

            </div>
          </div>
          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                      <i class="fas fa-quote-left"></i></i>
                      I think it's fair to say that personal computers have become the most empowering tool we've ever created. They're tools of communication, they're tools of creativity, and they can be shaped by their user.
                    <i class="fas fa-quote-right"></i>
                    </p>

                    <img  src="{% static 'img/Bill..jpg'%}" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">
                    <h3>Bill Gates</h3>
                    <h4>Microsoft co-founder</h4>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                     <i class="fas fa-quote-left"></i></i>
                      Coding is the language of the future, and every girl should learn it. As I've learned from watching girls grow and learn in our classrooms, coding is fun, collaborative and creative.
                     <i class="fas fa-quote-right"></i>
                    </p>
                    <br/>
                    <img src="{% static 'img/Saujani.jpg' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">
                    <h3> Reshma Saujani</h3>
                    <h4>Girls Who Code founder</h4>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                      <i class="fas fa-quote-left"></i>
Whether you want to uncover the secrets of the universe, or you just want to pursue a career in the 21st century, basic computer programming is an essential skill to learn.
                     <i class="fas fa-quote-right"></i>
                    </p>
                    <br/>
                    <br/>
                    <img src="{% static 'img/sten.jpg' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">
                    <h3>Stephen Hawking </h3>
                    <h4>theoretical physicist and cosmologist</h4>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                      <i class="fas fa-quote-left"></i>
Everybody should learn to program a computer, because it teaches you how to think.
                    <i class="fas fa-quote-right"></i>
                    </p>
                    <br/>
                    <br/>
                    <br/>
                    <img src="{% static 'img/Jobs.jpg' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">
                    <h3> Steve Jobs</h3>
                    <h4>co-founded Apple </h4>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                <i class="fas fa-quote-left"></i>
                   I taught myself how to program computers when I was a kid, bought my first computer when I was 10, and sold my first commercial program when I was 12.
                      <i class="fas fa-quote-right"></i>
                    </p>
                    <br/>
                    <br/>
                    <img src="{% static 'img/Elon.jpg' %}" class="bd-placeholder-img rounded-circle" width="140" height="140"  alt="">
                    <h3>Elon Musk</h3>
                    <h4>CEO of Tesla Inc. and SpaceX</h4>
                  </div>
                </div><!-- End testimonial item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

      {% include "app/footer.html" %}




