{% include "app/header.html" %}
<br/><br/><br/><br/>
	<style type="text/css">
	table{
		border: 1px solid green;
	}
	td{
		border: 1px solid green;
	}
	</style>
	<h1 align="center"><b>Java Programming</b></h1>
<table  align="center" width="80%" cellpadding="15px" >
	<tr bgcolor="#009970">
        <td width="5%"></td>
		<td><h3 align="center">Programs</h3></td>
		<td width="10%"><h3 align="center">Code</h3></td>
	</tr>
	<tr>
		<td align="center" width="200px"><i class="fas fa-arrow-alt-circle-right"></i></td>
		<td>To print a string.</td>
		<td align ="center"><a href="https://drive.google.com/file/d/1EebE78Gr-3kaGaKRvuOsjJkFi1B4C2Hc/view?usp=drivesdk"><button type="button" class="btn btn-success" >Click</button></a></td>
	</tr>
	<tr>
		<td align="center" width="200px"><i class="fas fa-arrow-alt-circle-right"></i></td>
		<td>Printing the sum of two numbers.</td>
		<td align ="center" ><a><button type="button" class="btn btn-success">Click</button></a></td>
	</tr>
	<tr>
		<td align="center" width="200px"><i class="fas fa-arrow-alt-circle-right"></i></td>
		<td>To find the area of square.</td>
		<td align ="center"><a><button type="button" class="btn btn-success">Click</button></a></td>
	</tr>
	<tr>
		<td align="center" width="200px"><i class="fas fa-arrow-alt-circle-right"></i></td>
		<td>To find the area of rectangle.</td>
		<td align ="center"><a><button type="button" class="btn btn-success">Click</button></a></td>
	</tr>
	<tr>
		<td align="center" width="200px"><i class="fas fa-arrow-alt-circle-right"></i></td>
		<td>To check the palindrome number.</td>
		<td align ="center"><a><button type="button" class="btn btn-success">Click</button></a></td>
	</tr>
</table>
<br/><br/><br/>
{% include "app/footer.html" %}